{% extends "base.html" %}

{% block head %}
  <link href="{{ url_for('static',filename='css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Hambloger - 登录{% endblock %}

{% block page_content %}
  <div class="login-container">
    <div class="login-wrapper">
      <div class="head-container">
          <div class="header-register">
              <span>注册</span>
          </div>
      </div>
      <div class="form-wrapper">
        <input type="text" name="username" placeholder="用户名" class="input-item">
        <input type="password" name="password" placeholder="密码" class="input-item">
        <input type="password" name="repeatpassword" placeholder="重复密码" class="input-item">
        <div class="btn">提交</div>
      </div>
      <div class="msg">
        <a href="#">快速注册</a>
        <a href="#">找回密码</a>
      </div>
    </div>
  </div>
{% endblock %}