body {
    background-color: rgb(253, 250, 244);
}

.navbar-container {
    background-color: rgb(9,7,35);
    height: 50px;
    display: grid;
    grid-template-areas: 'left middle right';
}

.navbar-left-container {
    grid-area: left;
}

.navbar-middle-container {
    grid-area: middle;
}

.navbar-right-container {
    grid-area: right;
}

.main-left-container {
    float: left;
    width: 95px;
}

.main-left-container:hover {
    width: 270px;
}

.logo {
    height: 45px;
    width: 160px;
    margin-top: 5px;
    margin-left: 20px;
}

.sidebar {
    width: 95px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(250, 248, 239);
    border-radius: 10px;
    transition: .3s;
    overflow: hidden;
}

.sidebar span {
    position: relative;
    top: 22px;
    left: 80px;
    font: 500 20px '';
    opacity: 0;
    transition: .1s;
}

.sidebar:hover {
    width: 270px;
}

.sidebar:hover span {
    opacity: 1;
}

.sidebar-box {
    display: block;
    height: 15%;
    width: 85%;
    margin: 12px;
    border-radius: 5px;
    position: relative;
    transition: .3s;
    text-decoration: none;
}

.sidebar-box:hover {
    background-color: rgb(230, 233, 238);
    color: rgb(241, 159, 159);
}

.sidebar-box span{
    color: #8a8a8a;
    position: relative;
    top: 15px;
    left: 80px;
    font: 500 30px '';
    opacity: 0;
    transition: .1s;
}

.sidebar-img {
    font-size: 60px;
    position: absolute;
    height: 60px;
    width: 60px;
    margin: 5px 0 0 5px;
}

.navbar-right-shell {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 50px;
}

.navbar-right-box {
    float: right;
}

.navbar-right-box a {
    display: block;
    color: #8a8a8a;
    text-align: center;
    padding: 14px 26px;
    font-size: 16px;
    text-decoration: none;
}

.navbar-right-box a:hover{
    color: #ffffff;
}

.navbar-serach-box {
    margin-left: 100px;
    margin-top: 10px;
    width: 500px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid #cacaca;
}

.search_input {
    float: left;
    width: 400px;
    height: 28px;
    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search_button {
    float: left;
    width: 96px;
    height: 28px;
    color: white;
    background-color: #8a8a8a;
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}