body {
    background-color: rgb(253, 250, 244);
}

.navbar-container {
    background-color: rgb(248, 240, 228);
    height: 80px;
    display: grid;
    grid-template-areas: 'left middle right';
}

.navbar-left-container {
    grid-area: left;
}

.navbar-middle-container {
    grid-area: middle;
}

.navbar-right-container {
    grid-area: right;
}

.main {
    display: grid;
    grid-template-areas: 'left-container middle-container';
}

.main-left-container {
    grid-area: left-container;
}

.main-middle-container {
    grid-area: middle-container;
}

.logo {
    height: 80px;
    width: 200px;
    margin-top: 7px;
    margin-left: 20px;
}

.sidebar {
    width: 95px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(250, 248, 239);
    border-radius: 10px;
    transition: .3s;
    overflow: hidden;
}

.sidebar span {
    position: relative;
    top: 22px;
    left: 80px;
    font: 500 20px '';
    opacity: 0;
    transition: .1s;
}

.sidebar:hover {
    width: 270px;
}

.sidebar:hover span {
    opacity: 1;
}

.sidebar-box {
    display: block;
    height: 15%;
    width: 85%;
    margin: 12px;
    border-radius: 5px;
    position: relative;
    transition: .3s;
    text-decoration: none;
}

.sidebar-box:hover {
    background-color: rgb(230, 233, 238);
    color: rgb(241, 159, 159);
}

.sidebar-box span{
    color: #8a8a8a;
    position: relative;
    top: 15px;
    left: 80px;
    font: 500 30px '';
    opacity: 0;
    transition: .1s;
}

.sidebar-img {
    font-size: 60px;
    position: absolute;
    height: 60px;
    width: 60px;
    margin: 5px 0 0 5px;
}

.navbar-right-container {

}

.navbar-right-shell {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 80px;
}

.navbar-right-box {
    float: right;
}

.navbar-right-box a {
    display: block;
    color: #8a8a8a;
    text-align: center;
    padding: 28px 30px;
    font-size: 20px;
    text-decoration: none;
}

.navbar-right-box a:hover{
    background-color: rgb(87, 87, 87);
    color: #e6e9d4;
}