.page-container {
    background-image: url('../img/page-bg.jpg');
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.user-container {
    background-image: url('../img/page-bg.jpg');
    display: block;
    background-color: rgb(255, 255, 255);
    margin-top: 12px;
    height: 260px;
    box-shadow: 0 1px 3px rgba(18, 18, 18, .1);
    border-radius: 2px;
}

.container {
    opacity: 0.9;
    color: rgb(0, 0, 0);
}

.user-cover-container {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 50%;
}

.user-profile-container {
    height: 50%;
    opacity: 0.7;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.user-mask-container {
    opacity: 1;
    float: left;
    position: relative;
    top: -50%;
    left: 5%;
    width: 160px;
    height: 160px;
}

.user-mask {
    background-color: rgb(255, 255, 255);
    width: 160px;
    height: 160px;
    box-shadow: 10px 5px 5px rgba(18, 18, 18, .1);
    border-radius: 4px;
}

.user-mask-img {
    margin: 2%;
    width: 96%;
    height: 96%;
    border-radius: 4px;
}

.user-information-container {
    float: left;
    width: 50%;
    padding-left: 15%;
}

.user-name-container {
    float: left;
}

.username {
    font-size: 32px;
    font-weight: 900;
}

.about_me-container {
    height: 30px;
    overflow: hidden;
}

.about_me {
    font-size: 20px;
    font-weight: 400;
}

.user-operation-container {
    padding-top: 5%;
    float: right;
}

.user-operation-container button {
    margin-right: 40px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    border: 1px solid;
    border-radius: 3px;
}

.grey-button {
    background-color: #8590a6;
}

.edit-profile-button {
    color: #06f;
    border-color: #06f;
}

.follow-button {
    color: rgb(252, 252, 252);
    background-color: #8590a6;
    border-color: #8590a6;
}

.non-follow-button {
    color: rgb(252, 252, 252);
    background-color: #06f;
}

.user-top-cover {
    background-image: url('../img/user-bg.jpg');
    height: 80px;
}

.content-container {
    margin-left: 0;
    height: 700px;
    position: relative;
    display: inline-block;
}

.main-container {

}

.main-content-container {
    float: right;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 3px rgba(18, 18, 18, .1);
    border-radius: 2px;
    width: 74%;
    vertical-align: bottom;
}

.option-bar {
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(240, 240, 240);
    height: 60px;
    line-height: 60px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
}

.option-item {
    float: left;
    font-size: 15px;
    font-weight: 600;
    padding-left: 100px;
}

.option-item a {
    display: inline;
    padding: 16px;
}

.option-link {
    text-decoration: none;
    color: rgb(12, 12, 12);
}

.option-link:hover {
    text-decoration: none;
    color: rgb(197, 234, 245);
    border-bottom: 2px solid rgb(153, 188, 221);
}

.main-content-box {
    background-color: rgb(255, 255, 255);
}

.side-content-container {
    float: left;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 3px rgba(18, 18, 18, .1);
    border-radius: 2px;
    width: 24%;
    vertical-align: bottom;
}

.side-content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 2px solid rgb(240, 240, 240);
    height: 60px;
    line-height: 60px;
}

.side-content-left-item {
    margin-left: 5%;
    float: left;
    font-size: 15px;
    font-weight: 600;
}

.side-content-left-item a {
    display: block;
    padding: 8px;
}

.side-content-right-item {
    margin-left: 5%;
    float: left;
    font-size: 15px;
    font-weight: 600;
}

.side-content-right-item a {
    display: block;
    padding: 8px;
}

.side-content-box {
    background-color: rgb(255, 255, 255);
}

.follow-operation-container {
    float: right;
    padding-right: 20px;
    padding-top: 6px;
    width: 100px;
}

.edit-pro-operation-container {
    float: right;
}

.main-show-container {
    margin: 2px 2px 10px;
}