{% macro pagination_widget(pagination, endpoint) %}
<ul class="py-2 pagination pagination-lg justify-content-center">
    <a class="page-link rounded-pill border-0 {% if not pagination.has_prev %} disabled {% endif %}"
       href="{% if pagination.has_prev %}{{ url_for(endpoint,page = pagination.page - 1, **kwargs) }}{% else %}#{% endif %}">
        <i class="fa fa-angle-left"></i>
    </a>

    {% for p in pagination.iter_pages() %}
    {% if p %}
    {% if p == pagination.page %}
    <li class="px-2 page-item active">
        <a class="page-link rounded-pill border-0" href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
    </li>
    {% else %}
    <li class="px-2 page-item">
        <a class="page-link rounded-pill border-0" href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
    </li>
    {% endif %}
    {% else %}
    <li class="px-2 page-item disabled">
        <a class="page-link rounded-pill border-0" href="#">&hellip;</a>
    </li>
    {% endif %}
    {% endfor %}

    <a class="page-link rounded-pill border-0 {% if not pagination.has_next %} disabled {% endif %}"
       href="{% if pagination.has_next %}{{ url_for(endpoint,page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}">
        <i class="fa fa-angle-right"></i>
    </a>
</ul>
{% endmacro %}
