<!-- 作为显示帖子的模块被其他html文件引用，下划线用以区分是否为完整模板 -->
{% block head %}
    <link href="{{ url_for('static',filename='css/post.css') }}" rel="stylesheet">
{% endblock %}

<ul class='posts'>
    {% for post in posts %}
    <li class='post'>
        <div class="profile-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
            <div class="post-author">
                <a href="{{ url_for('.user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            </div>
            <div class="post-body">
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>
            <div class="post-footer">
                {% if current_user == post.author %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-primary">编辑</span>
                </a>
                {% endif %}
                <a href="{{ url_for('.post', id=post.id) }}">
                    <span class="label label-default">阅读全文</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>