<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/ham2.png') }}"
        type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='icons/ham2.png') }}"
        type="image/x-icon">
    <link href="{{ url_for('static',filename='css/base.css') }}" rel="stylesheet">
    {% block head %} {% endblock %}
    <title> {% block title %}Hambloger{% endblock %}</title>
    
</head>

<body>
    <div class="container">
       <div calss="navbar">
            <div class="navbar-container">
                <div class="navbar-left-container">
                    <a href="/"><img src="{{url_for('static', filename='icons/hambloger-logo.png')}}" class="logo"></a>
                </div>
                <div class="navbar-middle-container">
                    <div class="search-box-container">
                        <input type="text" class="search-input">
                        <a href="#" class="search-click">
                            <img src="{{url_for('static', filename='icons/search.png')}}" style="width: 30px;">
                        </a>
                    </div>
                </div>
                <div class="navbar-right-container">
                    <ul class="navbar-right-shell">
                        {% if current_user.is_authenticated %}
                        <li class="navbar-right-box"><a href="{{url_for('auth.logout')}}">登出</a></li>
                        <li class="navbar-right-box"><a href="/">个人主页</a></li>
                        {% else %}
                        <li class="navbar-right-box"><a href="{{url_for('auth.register')}}">注册</a></li>
                        <li class="navbar-right-box"><a href="{{url_for('auth.login')}}">登录</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="main">
            {% if current_user.is_authenticated %}
            <div class="main-left-container">
                <div class="sidebar">
                    <a class="sidebar-box" href="/">
                        <img src="{{ url_for('static', filename='icons/sidebar-write.png') }} " class="sidebar-img">
                        <span>发表文章</span>
                    </a>
                    <a class="sidebar-box" href="/">
                        <img src="{{ url_for('static', filename='icons/sidebar-paper.png') }}" class="sidebar-img">
                        <span>我的文章</span>
                    </a> 
                    <a class="sidebar-box" href="/">
                        <img src="{{ url_for('static', filename='icons/sidebar-follow.png') }}" class="sidebar-img">
                        <span>我的关注</span>
                    </a>
                    <a class="sidebar-box" href="/">
                        <img src="{{ url_for('static', filename='icons/sidebar-like.png') }}" class="sidebar-img">
                        <span>我的收藏</span>
                    </a>
                </div>
            </div>
            {% endif %}
            <div class="main-middle-container">
                {% block page_content %}  {% endblock %}
            </div>
        </div>
    </div>
    <div class="mouse-follow"></div>
    <script>
        let img = document.querySelector('.mouse-follow'),deg = 0,imgx = 0,imgy = 0,imgl = 0,imgt = 0,y = 0,index = 0
        window.addEventListener('mousemove',function(xyz){
            imgx = xyz.x - img.offsetLeft - img.clientWidth /2,imgy = xyz.y - img.offsetTop - img.clientHeight /2
            deg = 360*Math.atan(imgy/imgx)/(2*Math.PI), index= 0
            let x = event.clientX
            if(img.offsetLeft<x){
                y=-180
            }else{
                y=0
            }
        })
        setInterval(()=>{
            img.style.transform = "rotateZ("+deg+"deg) rotateY("+y+"deg)"
            index++
            if(index<50){
                imgl+=imgx/100
                imgt+=imgy/100
            }
            img.style.left = imgl+"px"
            img.style.top = imgt+"px"
        },10)
    </script>
</body>

<footer>
    <p>Copyright(C) 2021 by Group 7, CS10070902</p>
    <p>小组成员(按字典序排序): 成笑行 陈奕澄 李博宇 庞浩天 王钧涛 张弛 朱泽凯</p>
</footer>

</html>