<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/ham2.png') }}"
        type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='icons/ham2.png') }}"
        type="image/x-icon">
    <link href="{{ url_for('static',filename='css/base.css') }}" rel="stylesheet">
    <title> {% block title %}Hambloger{% endblock %}</title>
</head>

<body>
    <div>
       <div calss="navbar">
            <div class="navbar-container">
                <div class="navbar-left-container">
                </div>
                <div class="navbar-middle-container">
                    <div class="box">
                        <input type="text" class="search_input" placeholder="请输入关键词">
                        <input type="button" value="搜索" class="search_button">
                    </div>
                </div>
                <div class="navbar-right-container">
                </div>
            </div>
        </div>



        <div class="main">
            <div class="main-left-container">
                <div class="sidebar">
                    <a class="sidebar-box" href="/">
                        <img src="{{ url_for('static', filename='icons/sidebar-write.png') }} " class="sidebar-img">
                        <span>发表文章</span>
                    </a>
                    <a class="sidebar-box" href="/">
                        <img src="{{ url_for('static', filename='icons/sidebar-paper.png') }}" class="sidebar-img">
                        <span>我的文章</span>
                    </a> 
                    <a class="sidebar-box" href="/">
                        <img src="{{ url_for('static', filename='icons/sidebar-star.png') }}" class="sidebar-img">
                        <span>我的关注</span>
                    </a>
                    <a class="sidebar-box" href="/">
                        <img src="{{ url_for('static', filename='icons/sidebar-like.png') }}" class="sidebar-img">
                        <span>我的收藏</span>
                    </a>
                </div>
            </div>
            <div class="main-middle-container">
                {% block page_content %}  {% endblock %}
            </div>
        </div>
    </div>
</body>