{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Hambloger - 编辑{% endblock %}

{% block head %}
<link href="{{ url_for('static',filename='css/post.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
<header class="top-cover"></header>
{% endblock %}

{% block page_content %}
<div class="posts">
    <div class="title-container py-3 page-heading">
        <h1>编辑文章</h1>
    </div>
</div>
<div class="posts py-3">
    {% if current_user.can(Permission.WRITE) %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="py-2">
             <h6>标题</h6>
        </div>
        {{ form.title(class="form-control w-100 py-2") }}
        <div class="py-2">
            <h6>副标题</h6>
        </div>
        {{ form.sub_title(class="form-control w-100 py-2") }}
        <div class="py-2">
            要写点什么？
        </div>
        {{ form.body(class="form-control") }}
        <div class="mx-auto py-3 row justify-content-center">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
