{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Hambloger - 编辑{% endblock %}

{% block head %}
<link href="{{ url_for('static',filename='css/post.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}
<div class="posts">
    <h1>编辑文章</h1>
</div>
<div class=posts>
    {{ wtf.quick_form(form) }}
</div>
<form method="POST">
    {{ form.body(class="form-control", placeholder="要写点什么？") }}
    <div class="mx-auto py-3 row justify-content-center">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
