{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block head %}
<link href="{{ url_for('static', filename='css/followers.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
<header class="top-cover"></header>
{% endblock %}

{% block title %}Hambloger - {{ title }} {{ user.username }}{% endblock %}

{% block page_content %}
<div class="main-container">
    <div class="page-header py-3">
        <h1>{{ title }} {{ user.username }}</h1>
    </div>

    <table class="table table-hover followers col-8">
        <thead>
        <tr>
            <th>User</th>
            <th>Since</th>
        </tr>
        </thead>
        {% for follow in follows %}
        {% if follow.user != user %}
        <tr>
            <td>
                <a href="{{ url_for('.user', username = follow.user.username) }}">
                    {{ follow.user.username }}
                </a>
            </td>
            <td>{{ follow.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, endpoint, username = user.username) }}
    </div>
    {% endif %}
</div>

{% endblock %}