{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}<!--渲染表单的-->
{% import "_macros.html" as macros %}<!--显示分页栏的-->

{% block head %}
<link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/post.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet"/>
<header class="masthead" style="background-image: url('../static/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Hambloger</h1>
                    <span class="subheading">A Blog by Computer Science Introduction.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block title %}Hambloger{% endblock %}

{% block page_content %}
<div class="page-container">
    <div class="index-page-header">
        <div class="header-operation-container">
            <div class="index-header-operation-box">
                <button class="index-header-operation" id="index-btn1" onclick="index_change(1)">
                    <a href="{{ url_for('.show_all') }}">全部</a>
                </button>
            </div>
            <div class="index-header-operation-box">
                <button class="index-header-operation" id="index-btn2" onclick="index_change(2)">推荐</button>
            </div>
            {% if current_user.is_authenticated %}
            <div class="index-header-operation-box">
                <button class="index-header-operation" id="index-btn3" onclick="index_change(3)">
                    <a href="{{ url_for('.show_followed') }}">关注</a>
                </button>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Main Content-->
    <div class="container px-10">
        {% for post in posts %}
        <div class="row gx-8 justify-content-center">
            <div class="col-10">
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="{{ url_for('.post', id=post.id) }}">
                        <h3 class="post-title">这是标题</h3>
                        <h4 class="post-subtitle">这是副标题</h4>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="{{ url_for('.user', username=post.author.username) }}" class="context-user-link">
                            {{ post.author.username }}
                        </a>
                        on December 13, 2021
                    </p>
                    <span>
                        {{ post.body }}
                    </span>
                </div>
                <br/>
                <div class="context-operation-container">
                    <a class="operation-box">
                        <img class="operation-img" src="{{url_for('static',filename='icons/share.png') }}">
                        <div class="operation-text">分享</div>
                    </a>
                    <a class="operation-box">
                        <img class="operation-img" src="{{url_for('static',filename='icons/index-star.png') }}">
                        <div class="operation-text">收藏</div>
                    </a>
                </div>
                <hr class="my-4"/>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="posts-header">
        {% if current_user.can(Permission.WRITE) %}
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.body(class="form-control", placeholder="要写点什么？") }}
            <div class="mx-auto py-3 row justify-content-center">
                {{ form.submit(class="btn btn-primary disabled") }}
            </div>
        </form>
        {% endif %}
    </div>


    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
    </div>
    {% endif %}

    <script>
        let x = 2;
        document.getElementById("index-btn2").style.color = "#ff0000";

        function index_change(ele_id) {
            for (let i = 1; i <= 2; i++)
                document.getElementById("index-btn" + i).style.color = "#000000";
            document.getElementById("index-btn" + ele_id).style.color = "#ff0000";
        }
    </script>

</div>

{% endblock %}

<!--为了支持markdown而加的模板-->>
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}