{% extends "base.html" %}

{% block title %}
Hambloger - {{ user.username }}
{% endblock %}

{% block head %}
<link href="{{ url_for('static',filename='css/user.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/admin.css') }}"
      rel="stylesheet"/>
<header class="user-top-cover"></header>
{% endblock %}

{% block page_content %}
<link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet">
<div class="page-container">
    <div class="user-container">
        <div class="user-cover-container masthead"></div>
        <div class="user-profile-container">
            <div class="user-mask-container">
                <div class="user-mask">
                    <img src="{{url_for('static', filename='mask/test-1.jpeg')}}" class="user-mask-img">
                </div>
            </div>
            <div class="user-information-container">
                <div class="username-container">
                    <span class="username"> {{ user.name }} </span>
                </div>
                <div class="username-container">
                    <span class="userid"> {{ user.id }} </span>
                </div>
                <div class="about_me-container">
                    {% if user.about_me %}<span class="about_me">{{ user.about_me }}</span>{% endif %}
                </div>
            </div>
            <div class="user-operation-container">
                {% if user == current_user %}
                <a href="{{ url_for('.edit_profile') }}">
                    <button type="button" class="edit-profile-button">
                        <span>编辑个人资料</span>
                    </button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container row">
        <div class="container  col-3">
            <ul class="side-content">
                <li class="side-content-left-item">
                    <a class="option-link" href="{{ url_for('.followers', username=user.username) }}">
                        关注者 <span class="badge badge-dark">{{ user.followers.count() - 1 }}</span>
                    </a>
                </li>
                <li class="side-content-right-item">
                    <a class="option-link" href="{{ url_for('.followed_by', username=user.username) }}">
                        关注了 <span class="badge badge-dark">{{ user.followed.count() - 1 }}</span>
                    </a>
                </li>
            </ul>
            <div class="side-content-box">
                <p>hi</p>
            </div>
        </div>
        <div class="container col-9">
            <ul class="option-bar">
                <li class="option-item">
                    <a class="option-link" href="">
                        我的文章
                    </a>
                    <a class="option-link" href="">
                        关注的文章
                    </a>
                    <a class="option-link" href="">
                        收藏的文章
                    </a>
                </li>
            </ul>
            <div class="main-content-box">
                <!--
                <h3>
                    <div align="center">{{ user.username }}的文章</div>
                </h3>
                -->
                <!-- Main Content-->
                <div class="container px-10">
                    {% for post in posts %}
                    <div class="row gx-8 justify-content-center">
                        <div class="col-10">
                            <!-- Post preview-->
                            <div class="post-preview">
                                <a href="{{ url_for('.post', id=post.id) }}">
                                    <h3 class="post-title">{{ post.title }}</h3>
                                    <h4 class="post-subtitle">{{ post.sub_title }}</h4>
                                </a>
                                <p class="post-meta">
                                    Posted by
                                    <a href="{{ url_for('.user', username=post.author.username) }}"
                                       class="context-user-link">
                                        {{ post.author.username }}
                                    </a>
                                    on {{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}
                                </p>
                                <span>
                                    {{ post.body }}
                                </span>
                            </div>
                            <hr class="my-4"/>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--
    {% if current_user.can(Permission.FOLLOW) and user != current_user %}
    {% if not current_user.is_following(user) %}
    <a href="{{ url_for('.follow', username=user.username) }}"
        class="btn btn-primary">关注</a>
    {% else %}
    <a href="{{ url_for('.unfollow', username=user.username) }}"
        class="btn btn-default">取消关注</a>
    {% endif %}
    {% endif %}


    <a class = "link" href="{{ url_for('.followers', username=user.username) }}">
        谁关注Ta: <span class="badge">{{ user.followers.count() - 1 }}</span>
    </a>
    <a href="{{ url_for('.followed_by', username=user.username) }}">
        Ta的关注: <span class="badge">{{ user.followed.count() - 1 }}</span>
    </a>


    {% if current_user.is_authenticated and user != current_user and
    user.is_following(current_user) %}
    | <span class="label label-default">关注了你</span>
    {% endif %}
    {% if user.name or user.location %}
    <p>
        {% if user.name %} {{ user.name }} {% endif %}
        {% if user.location %} 来自
        <a href="https://maps.google.com/?q={{ user.location }}">
            {{ user.location }}
        </a> 
        {% endif %}
    </p>
    {% endif %} 
    {% if current_user.is_administrator() %}
    <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    {% endif %}
    <p>
        我们于 {{ moment(user.member_since).format('MMM Do YY') }} 首次见面。<br> 上次登录于 {{ moment(user.last_seen).fromNow() }} 。
    </p>
    -->